.photos-design{
    margin-top: 10px;
    border:2px solid lightgray;
    box-shadow: 2px 2px 2px  lightgray;
    border-radius: 5px;
}
.photos-headline{
    font-size:16px;
    font-weight: 500;
}

.photos-row img{

    width:60px;
    border-radius:50px;

}

.photos-row span{
    font-size:16px;
    font-weight: 600;
    margin-left:20px;
}

