/* You can add global styles to this file, and also import other style files */
.form-design{

    position:absolute;
    top:19%;
    left:23%;
    border:1px solid lightgray;
    padding:40px;
    width: 500px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 5px 0px;

}

.form-design input:focus
{
    border:1px solid lightgreen;
}
.form-block{

     position: absolute;
     top:10%;
     left:20%;
     
}

.btn-design:hover{
    background-color:green;
}

body{
    cursor: pointer;
}